.bg-1 {
	background-color: #008080;
	color: #ffffff;
}

.bg-2 {
	background-color: #181818;
	color: #ffffff;
}

.bg-3 {
	background-color: #FFFFFF;
	color: #000000;
}

.bg-4 {
	background-color: #202020;
	color: #ffffff;
}

.container-fluid {
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;

}

.navbar-nav li a:hover {
	color: #008080 !important;
}

.list-inline li a:hover {
	color: #008080 !important;
}

.list-group-item {
	background-color: transparent !important;
	border-color: transparent !important;
}

.list-inline a:link {
	text-decoration: none;
	color: #fff;
}

.list-inline a:visited {
    text-decoration: none;
    color: #fff;
}

/*a.read-more-link {
	color: #9d9d9d;
	text-decoration: none;
}

p a:hover {
	text-decoration: none;
	color: #008080 !important;
}*/

.no-list {
	list-style: none;
	margin: 0px;
    padding: 0px;
    
}

.label {
	display: inline;
    padding: .25em .6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.work > li {
	padding-bottom: 20px;
    border-bottom: 1px solid #666362;
    margin-bottom: 2em;
}

.work li > span {
	float: right;
}

.work li p {
    clear: both;
}

.work li h5 {
    clear: both;
}
.work li h4 {
    float: left;
}

.project-res {
	clear: both;
	margin-left: 20px;
}

.project-res li {
    border-bottom: 0px solid transparent;
    margin-bottom: 0em;
}

.sub-project-res {
	clear: both;
	 margin-left: 20px;
}

.sub-project-res li {
    border-bottom: 0px solid transparent;
    margin-bottom: 0em;
}

.skillmeter {
	background-color: #C0C0C0;
	height: 24px;
    position: relative;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin-bottom: 1em;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.skillmeter > span {
	display: block;
    height: 100%;
    border-radius: 4px;

	background-color: rgb(43,194,83);
  	background-image: linear-gradient(
    	center bottom,
    	rgb(43,194,83) 37%,
    	rgb(84,240,84) 69%
  	);
  	box-shadow: 
    	inset 0 2px 9px  rgba(255,255,255,0.3),
    	inset 0 -2px 6px rgba(0,0,0,0.4);

    position: relative;
    overflow: visible;
}

.skillmeter > span:after, .animate > span > span{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 4px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@keyframes expandWidth {
   0% { width: 0; }
   100% { width: auto; }
}

.skillmeter > span > span {
    margin-left: 4px;
    color: #000000;

}

.emerald > span {
    background-color: #2ecc71;
    background-image: linear-gradient(to bottom, #2ecc71, #1c7d44);
}

.grey > span {
    background-color: #666362;
    background-image: linear-gradient(to bottom, #666362, #4e4c4b);
}

.light-coral > span {
	background-color: #E77471;
	background-image: linear-gradient(to bottom, #E77471,  #de403b);
}


.violet > span {
	background-color: #8D38C9;
	background-image: linear-gradient(to bottom, #8D38C9, #542178);
}

.pumpkin > span {
	background-color: #F87217;
	background-image: linear-gradient(to bottom, #F87217, #c65306);
}

.cinnamon > span {
	background-color: #C58917;
	background-image: linear-gradient(to bottom, #C58917, #895f10);
}

.mustard > span {
	background-color: #FFDB58;
	background-image: linear-gradient(to bottom, #FFDB58, #ffc800);
}

.light-steel-blue > span {
	background-color: #728FCE;
	background-image: linear-gradient(to bottom, #728FCE, #3c5faa);
}

.blanchedalmond > span {
	background-color: #FFEBCD;
	background-image: linear-gradient(to bottom, #FFEBCD, #ffc266);
}

.teal > span {
	background-color: #008080;
	background-image: linear-gradient(to bottom, #008080, #003333);
}
.dodger-blue > span {
	background-color: #1589FF;
	background-image: linear-gradient(to bottom, #1589FF, #0066cc);
}

.maroon > span {
	background-color: #c50763;
	background-image: linear-gradient(to bottom, #c50763,  #810541);
}

.contact-col > .contact-point:nth-child(n+2){
	padding-top: 50px;
}

.contact-point > i {
	font-size:48px; 
	padding-bottom:20px;
}

.contact-point > span {
	font-size:48px; 
	padding-bottom:20px;
}

.contact-point > a {
	font-size:48px; 
	padding-bottom:20px;
	color: #ffffff;
}

.contact-point > a {
	font-size:48px; 
	padding-bottom:20px;
	color: #ffffff;
}

.contact-point a:hover {
	color: #008080 !important;
}

.contact-point a:link {
	text-decoration: none;
	color: #fff;
}

.contact-point a:visited {
    text-decoration: none;
    color: #fff;
}

.contact-col {
	padding-bottom:50px;

}

.tech-use {
	clear: both;
	padding-bottom: 10px;
}

.gallery > a > img {
	padding: 5px;

}

li {
    display: list-item;
}

/*.gitlink a:link {
	text-decoration: none;
	color: #ffffff;
}

.gitlink a {
	color: #ffffff;
}

.gitlink a:hover {
	color: #181818 !important;
}*/

/*a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
	color: #008080 !important;
}*/



ul {
	padding: 0;
}

body { 
	padding-top: 70px; 
}